@import 'variables';
@import 'media';

.header {
    background-color: $bg-primary;
    box-shadow: $main-shadow;

    &-top {
        display: flex;
        justify-content: flex-end;
        padding: 5px 50px 5px;
        border-bottom: 1px solid $black;

        .container {
            display: flex;
            gap: 30px;
        }
    }

    &-middle {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0;

        .logo {
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            height: 70%;
            width: 100px;
            left: 30px;
            cursor: pointer;
        }

        .search {
            max-width: 1000px;
            flex: 1 0 310px;
            text-align: center;

            input {
                width: 100%;
                border: 3px solid $primary;
                border-radius: 10px;
            }

            .filtered {
                text-align: left;
                background-color: $white;
                position: absolute;
                color: $black;
                width: 100%;
                padding: 12px 20px;

                &-item {
                    cursor: pointer;
                }
            }
        }

        .action-bar {
            position: fixed;
            right: 40px;
            display: flex;
            gap: 30px;
            z-index: 10;
        }
    }

    &-bottom {
        display: flex;
        justify-content: center;
        padding: 0 0 5px;

        .container {
            display: flex;
            gap: 30px;
        }
    }
}
