<div class="header">
    <div [routerLink]="['']" class="logo" style="background-image: url('assets/logo.svg');">
    </div>
    <div class="search">
        <form #searchForm="ngForm" (ngSubmit)="search()">
            <input
                type="text"
                name="search"
                id="search"
                placeholder="categories"
                [(ngModel)]="searchInput"
                (input)="onSearchChange($event)"
                autocomplete="off"
            >
            <div class="filtered" *ngIf="filteredCategories.length">
                <div *ngFor="let category of filteredCategories" class="filtered-item" (click)="selectOption(category)">
                    <span>{{ category.title }}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="entry">
        <div (click)="authDialog()">
            <fa-icon [icon]="faUser" size="lg"></fa-icon>
        </div>
    </div>
</div>
