@import 'variables';
@import 'media';

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 26px 20px;
    gap: 20px;
    background-color: $bg-primary;
    box-shadow: $main-shadow;

    @include mobile {
        padding-top: 10px;
    }

    .logo {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        height: 90%;
        width: 100px;
        left: 30px;
        cursor: pointer;
    }

    .entry {
        position: absolute;
        right: 100px;
        cursor: pointer;
    }

    .search {
        flex-basis: 310px;
        flex-grow: 1;
        max-width: 700px;
        text-align: center;

        @include mobile {
            margin-top: 70px;
        }

        input {
            width: 100%;
            border: 3px solid $primary;
            border-radius: 10px;
        }

        .filtered {
            text-align: left;
            background-color: $white;
            position: absolute;
            color: $black;
            width: 100%;
            padding: 12px 20px;

            &-item {
                cursor: pointer;
            }
        }
    }
}
