<div class="header">
    <div class="header-top">
        <div class="container">
            <div>FAQ</div>
            <div>About Us</div>
            <div>Contact</div>
        </div>
    </div>
    <div class="header-middle">
        <div [routerLink]="['']" class="logo" style="background-image: url('assets/logo.svg');">
        </div>
        <div class="search">
            <form #searchForm="ngForm" (ngSubmit)="search()">
                <input
                    type="text"
                    name="search"
                    id="search"
                    placeholder="categories"
                    [(ngModel)]="searchInput"
                    (input)="onSearchChange($event)"
                    autocomplete="off"
                >
                <div class="filtered" *ngIf="filteredCategories.length">
                    <div *ngFor="let category of filteredCategories" class="filtered-item" (click)="selectOption(category)">
                        <span>{{ category.title }}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="action-bar" [ngClass]="{'shadow': applyShadows}">
            <app-entry></app-entry>
            <app-wishlist></app-wishlist>
            <app-cart></app-cart>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="category" *ngFor="let category of categories" (click)="goToCategory(category.name)">{{ category.title }}</div>
            <div class="category" (click)="goToCategory()">All</div>
        </div>
    </div>
</div>
