$white: #FFFFFF;
$black: #0A0A0A;

$bg-primary: #FFFFFF;
$bg-secondary: #C4C4C4;

$primary: #FFA500;
$secondary: #4A08FF;
$dark-blue: #3406B3;
$light-green: #D6FF00;
$dark-green: #96B300;

$main-shadow: 0 0 25px rgba(0, 0, 0, .2);
