$white: #fff;
$black: #0a0a0a;

$tornado-cloud: #5D5C61;
$aragonite-grey: #938E94;
$cranberry-blue: #7395AE;
$mallorca-blue: #557A95;
$bronco:#B1A296;

$bg-primary: $tornado-cloud;
$bg-secondary: $aragonite-grey;
$primary: $mallorca-blue;
$secondary: $cranberry-blue;
$tertiary: $bronco;
