@{
    ViewBag.Title = "Dashboard";
}

<div>
    <div>
        Welcome
    </div>
    <div class="product-list">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Last</th>
                    <th scope="col">Categories</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["Products"] as IEnumerable<Product>)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            @foreach (var c in item.Categories as IEnumerable<Category>)
                            {
                                <p>@c.Title</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
