@model Admin

@{
    ViewBag.Title = "Login";
}
<div>
    @ViewBag.error
    <div>
        <div class="card">
            <div>
                Login
            </div>
            <form method="post" asp-action="Login">
                <input asp-for="Email" />
                <input asp-for="Password" type="password"/>
                <input type="submit" value="Login" />
            </form>
        </div>
    </div>
</div>
