@model ProductUpsertVM
@{
    ViewBag.Title = "Product";
}

<div class="container">
    <form method="post" asp-action="UpdateProduct">
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" id="Title" asp-for="Title">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="Description" asp-for="Description"></textarea>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="Price" asp-for="Price">
        </div>
        <div class="mb-3 container">
            <div class="row mb-2">
                <div class="col-3 mr-2">Name</div>
                <div class="col-8">Value</div>
            </div>
            @for (int i = 0; i < @Model.Attributes.Count; i++)
            {
                <div class="row mb-2">
                    <input class="col-3 mr-2" type="text" class="form-control" asp-for="@Model.Attributes[i].Name">
                    <input class="col-8" type="text" class="form-control" asp-for="@Model.Attributes[i].Value">
                </div>
            }
        </div>
        <div class="mb-3">
            <select asp-for="Categories" asp-items="ViewBag.Categories" multiple="multiple"></select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
