<div class="product">
    <div class="main">
        <div class="image">
            <img src="{{ product.images[0]?.url || 'http://via.placeholder.com/360x640' }}">
        </div>
        <div class="details">
            <div class="title">
                <h2>{{ product.title }}</h2>
                <hr>
            </div>
            <div class="points">
                <div>Price: {{ product.price }}$</div>
            </div>
            <div class="actions">
                <input type="number" name="quantity" id="quantity" [(ngModel)]="quantity">
                <button
                    class="btn"
                    [ngClass]="{'secondary': isInCart}"
                    (click)="CartAction()"
                >
                        {{ isInCart ? 'Remove From Cart' : 'Add To Cart' }}
                </button>
                <fa-icon
                    (click)="WishlistAction()"
                    [icon]="isInWishlist ? fasHeart : farHeart"
                    size="lg"
                ></fa-icon>
            </div>
        </div>
    </div>
    <div class="additional">
        <div class="description">
            <p>{{ product.description }}</p>
        </div>
        <div *ngIf="product.attributes" class="attributes">
            <table>
                <tr *ngFor="let attribute of product.attributes">
                    <td>{{ attribute.title }}</td>
                    <td>{{ attribute.value }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
