@import 'variables';

.product {
    background-color: $bg-primary;
    min-height: 100vh;

    .main {
        display: grid;
        grid-template-columns: 630px 1fr;
        gap: 30px;
        margin-bottom: 30px;

        .images {
            display: grid;
            grid-template-columns: 150px 450px;
            gap: 30px;
        }

        .details {
            display: flex;
            flex-direction: column;

            .title {
                margin-bottom: 100px;

                h2 {
                    font-size: 38px;
                    font-weight: normal;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    p {
                        text-transform: uppercase;
                    }

                    .sku {
                        color: $gray-3;
                    }

                    .stock {
                        font-weight: bold;
                        color: $green;
                    }
                }
            }

            .points {
                margin-bottom: 100px;

                h2 {
                    font-weight: normal;
                }
            }

            .actions {
                display: flex;
                align-items: baseline;
                gap: 30px;

                input[type=number] {
                    width: 100px;
                }
            }
        }
    }

    .additional {
        .description {
            h2 {
                font-weight: normal;
                margin-bottom: 5px;
            }

            hr {
                margin-bottom: 10px;
            }
        }

        .attributes {
            margin-top: 30px;

            h2 {
                font-weight: normal;
                margin-bottom: 5px;
            }

            hr {
                margin-bottom: 10px;
            }

            table {
                margin: 20px 0;
            }
        }
    }
}
