<div class="product">
    <div class="main">
        <div class="image">
            <img src="{{ product.images[0]?.url || 'http://via.placeholder.com/360x640' }}">
        </div>
        <div class="details">
            <div class="title">
                <h2>{{ product.title }}</h2>
                <hr>
            </div>
            <div class="points">

            </div>
            <div class="actions">
                <input type="number" name="quantity" id="quantity" [(ngModel)]="quantity">
                <p>{{ product.price }}$</p>
                <button
                    class="btn"
                    [ngClass]="{'secondary': isInCart}"
                    (click)="CartAction()"
                >
                        {{ isInCart ? 'Remove From Cart' : 'Add To Cart' }}
                </button>
            </div>
        </div>
    </div>
    <div class="additional">
        <div class="description">
            <p>{{ product.description }}</p>
        </div>
        <div *ngIf="product.attributes" class="attributes">
            <table>
                <tr *ngFor="let attribute of product.attributes">
                    <td>{{ attribute.name }}</td>
                    <td>{{ attribute.value }}</td>
                </tr>
            </table>
        </div>
        <!-- <table mat-table [dataSource]="product.attributes">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let attributes"> {{attributes.name}} </td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let attributes"> {{attributes.value}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let attributes; columns: columnsToDisplay"></tr>
        </table> -->
    </div>
</div>
