<div class="filters">
    <div>
        <div class="title">Categories:</div>
        <div>
            <div
                class="category"
                [ngClass]="{'selected': activeCategory === category.name}"
                *ngFor="let category of filters.categories"
                [routerLink]="['/products']"
                [queryParams]="{ category: category.name }"
            >{{ category.title }}</div>
            <div
                class="category"
                [ngClass]="{'selected': activeCategory === ''}"
                [routerLink]="['/products']"
            >All</div>
        </div>
    </div>
</div>
