@import 'variables';

:host-context(.shadow) {
    .entry {
        &-button {
            box-shadow: $main-shadow;
            right: -140px;
            top: 140px;
        }

        &-overlay {
            top: 0;
            right: -80px;
        }
    }
}

.entry {
    &-button {
        background-color: $bg-primary;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        cursor: pointer;
        top: 0;
        right: 0;
        transition: right 150ms linear, top 150ms linear;

        .icon {
            top: 10px;
            right: -10px;
        }
    }

    &-overlay {
        position: absolute;
        right: 0;
        background-color: $bg-primary;
        color: $black;
        width: 300px;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px 35px rgba(0, 0, 0, .5);

        &-toggle {
            background-color: $dark-blue;
        }

        .buttons {
            float: right;
            z-index: 10;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .input:not(:first-child) {
            margin: 20px 0;
        }

        label {
            margin-bottom: 5px;
        }

        input[type=submit] {
            float: right;
            z-index: 10;
        }
    }
}
