@import 'variables';

.entry {
    padding: 0 20px;
    background-color: $bg-primary;
    background-image: $noise;

    &-toggle {
        background-color: $dark-blue;
    }

    .buttons {
        float: right;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .input:not(:first-child) {
        margin: 20px 0;
    }

    label {
        margin-bottom: 5px;
    }

    input[type=submit] {
        float: right;
        z-index: 10;
    }
}
