@import 'variables';
@import 'media';

.cart {
    position: fixed;
    top: 32px;
    right: 15px;
    z-index: 10;
    text-align: end;

    @include desktop {
        right: 30px;
    }

    &-button {
        background-image: $noise;
        background-color: $bg-secondary;
        display: inline-block;
        border-radius: 50%;
        margin-bottom: 10px;
        height: 40px;
        width: 40px;

        .icon {
            top: 12px;
            right: 8px;
        }
    }

    .cart-overlay {
        text-align: start;
        background-color: $white;
        color: black;
        width: 300px;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5);

        .item {
            display: flex;
            gap: 20px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .image {
                width: 80px;
            }

            .number {
                margin: 0 10px;
            }
        }


        .details > div:not(:last-child) {
            margin-bottom: 10px;
        }

        .actions {
            display: flex;
            justify-content: space-around;
        }
    }
}
