<div class="cart">
    <div class="cart-button" (click)="cartToggle()">
        <div class="icon">
            <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
        </div>
    </div>
    <div class="cart-overlay" *ngIf="isVisible">
        <!-- <button (click)="increment()">Increment</button>

        <div>Current Count: {{ count$ | async }}</div>

        <button (click)="decrement()">Decrement</button>

        <button (click)="reset()">Reset Counter</button> -->
        <div class="item" *ngFor="let item of cart">
            <div class="image">
                <img src="{{ item.images[0] }}" alt="product image">
            </div>
            <div class="details">
                <div class="title">{{ item.title }}</div>
                <div class="price">{{ item.price }}$</div>
                <div class="quantity">
                    <fa-icon [icon]="faMinusCircle" (click)="decreaseQuality(item)"></fa-icon>
                    <span class="number">{{ item.quantity }}</span>
                    <fa-icon [icon]="faPlusCircle" (click)="increaseQuantity(item)"></fa-icon>
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="button">See Cart</button>
            <button class="button" [routerLink]="['checkout']">Checkout</button>
        </div>
    </div>
</div>
