@import 'variables';
@import 'media';

:host-context(.shadow) {
    .wishlist {
        &-button {
            box-shadow: $main-shadow;
            right: -70px;
            top: 70px;
        }
    }
}

.wishlist {
    &-button {
        background-color: $bg-primary;
        border-radius: 50%;
        cursor: pointer;
        height: 40px;
        width: 40px;
        top: 0;
        right: 0;
        transition: right 100ms linear, top 100ms linear;

        .icon {
            top: 10px;
            right: -9px;
        }
    }

    &-overlay {
        position: absolute;
        right: 0;
        min-height: 200px;
        text-align: start;
        background-color: $white;
        color: black;
        width: 300px;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 5px 5px 35px rgba(0, 0, 0, .5);

        .item {
            display: flex;
            gap: 20px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .image {
                width: 80px;
            }

            .number {
                margin: 0 10px;
            }
        }

        .details > div:not(:last-child) {
            margin-bottom: 10px;
        }

        .actions {
            bottom: 0;
            display: flex;
            justify-content: space-around;
        }
    }
}
