<div class="wishlist" appClickOutside (clickOutside)="isVisible = false">
    <div class="wishlist-button" (click)="onWishlistClick()">
        <div class="icon">
            <fa-icon [icon]="faHeart" size="lg"></fa-icon>
        </div>
        <div class="bubble" *ngIf="wishlist.length > 0">
            <div class="bubble-content">
                <span>{{ wishlist.length }}</span>
            </div>
        </div>
    </div>
    <div class="wishlist-overlay" *ngIf="isVisible">
        <div class="item" *ngFor="let item of wishlist">
            <div class="image">
                <a href="{{ item.url }}">
                    <img src="{{ item.images[0] }}" alt="product image">
                </a>
            </div>
            <div class="details">
                <a href="{{ item.url }}">
                    <div class="title">{{ item.title }}</div>
                </a>
                <div class="price">{{ item.price }}$</div>
            </div>
        </div>
    </div>
</div>
