@import './styles/variables';
@import './styles/media';
@import './styles/reset';
@import './styles/button';

@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden {
    display: none;
}

.mat-dialog-container {
    background-color: $bg-secondary;
    background-image: $noise;
}
